/* -------------------------------------
 *  * For horizontal version, set the
 *   * $vertical variable to false
 *    * ------------------------------------- */
/* -------------------------------------
 *  * General Style
 *   * ------------------------------------- */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 100%; }

h2 {
  margin: 3em 0 0 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase; }

/* -------------------------------------
 *  * timeline
 *   * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #eee9dc; }
  #timeline li:not(.changes) {
    margin: 40px 0;
    padding-bottom: 4%;
    position: relative; }
  #timeline p {
    margin: 0 0 15px; }

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute; }

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: black;
  border: 5px solid #eee9dc;
  border-radius: 50%;
  display: block;
  position: absolute; }

.content {
  top: 8.5%;
  left: 30%;
  max-height: 20px;
  max-width: 70%;
  padding: 50px 20px 0;
  opacity: 0;
  position: fixed; }
.content .title {
  margin-bottom: 30px;
  border-bottom: 1px solid white;
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear, color 0.2s linear; }

.radio {
  display: none; }

.radio:checked + .relative label {
  cursor: auto;
  color: orange;
  transform: translateX(20px); }

.radio:checked + .relative .circle {
  background: royalblue; }
.radio:checked ~ .content {
  max-height: 180px;
  border-color: #eee9dc;
  margin-right: 20px;
  opacity: 1;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear, opacity 0.5s linear; }
  .radio:checked ~ .content p {
    max-height: 200px;
    color: #eee9dc;
    transition: color 0.3s linear 0.3s; }
